apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: stg-examxv2

resources:
  - ../../base
  - storage/pv.yaml
  - storage/pvc.yaml

labels:
  - pairs:
      environment: staging
      tier: stg
    includeSelectors: false

patches:
  # Backend Deployment patches
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: examxv2-backend
      spec:
        replicas: 2
        template:
          spec:
            serviceAccountName: examxv2-stg-secret-service
            containers:
            - name: examxv2-backend
              image: "399600302704.dkr.ecr.ap-south-1.amazonaws.com/examxv2-backend:stg-EXM-3111-announcement-modules-imple-052a9684e383b900d09ba2aeceecbc93b1591d22"
              resources:
               requests:
                 cpu: "4"
                 memory: "8Gi"
               limits:
                 cpu: "4"
                 memory: "8Gi"
              env:
              - name: WORKERS
                value: "4"
              - name: OPIK_URL_OVERRIDE
                value: "https://www.comet.com/opik/api"
              - name: OPIK_API_KEY
                value: "Y5T3WoqNxJ22ypw1M8qivydis"
              - name: OPIK_WORKSPACE
                value: "greatify-prod"
              - name: OPIK_PROJECT_NAME
                value: "Stg"
    target:
      kind: Deployment
      name: examxv2-backend

  # Celery Worker patches
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: celery-worker-default
      spec:
        replicas: 1
        template:
          spec:
            serviceAccountName: examxv2-stg-secret-service
            containers:
            - name: celery-worker-default
              image: "399600302704.dkr.ecr.ap-south-1.amazonaws.com/examxv2-backend:stg-EXM-3111-announcement-modules-imple-052a9684e383b900d09ba2aeceecbc93b1591d22"
              resources:
                requests:
                  cpu: "250m"
                  memory: "2Gi"
                limits:
                  cpu: "750m"
                  memory: "3Gi"
              command:
              - celery
              - -A
              - examx
              - worker
              - -P
              - gevent
              - -c
              - "50"
              - -Q
              - default
              - -l
              - info
              - -E
              env:
              - name: OPIK_URL_OVERRIDE
                value: "https://www.comet.com/opik/api"
              - name: OPIK_API_KEY
                value: "Y5T3WoqNxJ22ypw1M8qivydis"
              - name: OPIK_WORKSPACE
                value: "greatify-prod"
              - name: OPIK_PROJECT_NAME
                value: "Stg"
    target:
      kind: Deployment
      name: celery-worker-default


  # Celery Bulk Upload Worker patches
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: celery-bulk-upload-worker
      spec:
        replicas: 1
        template:
          spec:
            serviceAccountName: examxv2-stg-secret-service
            containers:
            - name: celery-bulk-upload-worker
              image: "399600302704.dkr.ecr.ap-south-1.amazonaws.com/examxv2-backend:stg-EXM-3111-announcement-modules-imple-052a9684e383b900d09ba2aeceecbc93b1591d22"
              resources:
                requests:
                  cpu: "300m"
                  memory: "2Gi"
                limits:
                  cpu: "750m"
                  memory: "3Gi"
              command:
              - celery
              - -A
              - examx
              - worker
              - -P
              - prefork
              - -c
              - "1"
              - -Q
              - bulk_upload
              - -l
              - info
              - -E
              env:
              - name: OPIK_URL_OVERRIDE
                value: "https://www.comet.com/opik/api"
              - name: OPIK_API_KEY
                value: "Y5T3WoqNxJ22ypw1M8qivydis"
              - name: OPIK_WORKSPACE
                value: "greatify-prod"
              - name: OPIK_PROJECT_NAME
                value: "Stg"
    target:
      kind: Deployment
      name: celery-bulk-upload-worker

  # Celery Bulk Export Worker patches
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: celery-bulk-export-worker
      spec:
        replicas: 1
        template:
          spec:
            serviceAccountName: examxv2-stg-secret-service
            containers:
            - name: celery-bulk-export-worker
              image: "399600302704.dkr.ecr.ap-south-1.amazonaws.com/examxv2-backend:stg-EXM-3111-announcement-modules-imple-052a9684e383b900d09ba2aeceecbc93b1591d22"
              resources:
                requests:
                  cpu: "2"
                  memory: "12Gi"
                limits:
                  cpu: "3"
                  memory: "16Gi"
              command:
              - celery
              - -A
              - examx
              - worker
              - -P
              - prefork
              - -c
              - "3"
              - -Q
              - bulk_export
              - -l
              - info
              - -E
              env:
              - name: OPIK_URL_OVERRIDE
                value: "https://www.comet.com/opik/api"
              - name: OPIK_API_KEY
                value: "Y5T3WoqNxJ22ypw1M8qivydis"
              - name: OPIK_WORKSPACE
                value: "greatify-prod"
              - name: OPIK_PROJECT_NAME
                value: "Stg"
    target:
      kind: Deployment
      name: celery-bulk-export-worker

  # Celery Enrichment Worker patches
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: celery-enrichment-worker
      spec:
        replicas: 1
        template:
          spec:
            serviceAccountName: examxv2-stg-secret-service
            containers:
            - name: celery-enrichment-worker
              image: "399600302704.dkr.ecr.ap-south-1.amazonaws.com/examxv2-backend:stg-EXM-3111-announcement-modules-imple-052a9684e383b900d09ba2aeceecbc93b1591d22"
              resources:
                requests:
                  cpu: "300m"
                  memory: "2Gi"
                limits:
                  cpu: "500m"
                  memory: "3Gi"             
              command:
              - celery
              - -A
              - examx
              - worker
              - -P
              - gevent
              - -c
              - "50"
              - -Q
              - question_enrichment
              - -l
              - info
              - -E
              env:
              - name: OPIK_URL_OVERRIDE
                value: "https://www.comet.com/opik/api"
              - name: OPIK_API_KEY
                value: "Y5T3WoqNxJ22ypw1M8qivydis"
              - name: OPIK_WORKSPACE
                value: "greatify-prod"
              - name: OPIK_PROJECT_NAME
                value: "Stg"
    target:
      kind: Deployment
      name: celery-enrichment-worker

  # # Celery Exam Submission Worker patches
  # - patch: |-
  #     apiVersion: apps/v1
  #     kind: Deployment
  #     metadata:
  #       name: celery-exam-submission-worker
  #     spec:
  #       replicas: 1
  #       template:
  #         spec:
  #           serviceAccountName: examxv2-stg-secret-service
  #           containers:
  #           - name: celery-exam-submission-worker
  #             image: "399600302704.dkr.ecr.ap-south-1.amazonaws.com/examxv2-backend:stg-EXM-3111-announcement-modules-imple-052a9684e383b900d09ba2aeceecbc93b1591d22"
  #             resources:
  #               requests:
  #                 cpu: "2"
  #                 memory: "4Gi"
  #               limits:
  #                 cpu: "4"
  #                 memory: "8Gi"
  #             command:
  #               - celery
  #               - -A
  #               - examx
  #               - worker
  #               - --pool=prefork
  #               - --concurrency=8
  #               - --queues=exam_submissions
  #               - --hostname=exam_worker@%h
  #               - --max-tasks-per-child=50
  #               - --time-limit=120
  #               - --loglevel=info
  #               - -E
  #             env:
  #             - name: OPIK_URL_OVERRIDE
  #               value: "https://www.comet.com/opik/api"
  #             - name: OPIK_API_KEY
  #               value: "Y5T3WoqNxJ22ypw1M8qivydis"
  #             - name: OPIK_WORKSPACE
  #               value: "greatify-prod"
  #             - name: OPIK_PROJECT_NAME
  #               value: "Stg"
  #   target:
  #     kind: Deployment
  #     name: celery-exam-submission-worker

  # Celery Question Generator AI Worker patches
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: celery-question-generator-ai-worker
      spec:
        replicas: 1
        template:
          spec:
            serviceAccountName: examxv2-stg-secret-service
            containers:
            - name: celery-question-generator-ai-worker
              image: "399600302704.dkr.ecr.ap-south-1.amazonaws.com/examxv2-backend:stg-EXM-3111-announcement-modules-imple-052a9684e383b900d09ba2aeceecbc93b1591d22"
              resources:
                requests:
                  cpu: "300m"
                  memory: "2Gi"
                limits:
                  cpu: "500m"
                  memory: "3Gi"
              command:
              - celery
              - -A
              - examx
              - worker
              - -P
              - gevent
              - -c
              - "50"
              - -Q
              - question_generator_ai
              - -l
              - info
              - -E
              env:
              - name: OPIK_URL_OVERRIDE
                value: "https://www.comet.com/opik/api"
              - name: OPIK_API_KEY
                value: "Y5T3WoqNxJ22ypw1M8qivydis"
              - name: OPIK_WORKSPACE
                value: "greatify-prod"
              - name: OPIK_PROJECT_NAME
                value: "Stg"
    target:
      kind: Deployment
      name: celery-question-generator-ai-worker

  # Celery Exam Submission Worker patches
  # - patch: |-
  #     apiVersion: apps/v1
  #     kind: Deployment
  #     metadata:
  #       name: celery-exam-submission-worker
  #     spec:
  #       replicas: 1
  #       template:
  #         spec:
  #           serviceAccountName: examxv2-stg-secret-service
  #           containers:
  #           - name: celery-exam-submission-worker
  #             image: "399600302704.dkr.ecr.ap-south-1.amazonaws.com/examxv2-backend:stg-EXM-3111-announcement-modules-imple-052a9684e383b900d09ba2aeceecbc93b1591d22"
  #             env:
  #             - name: OPIK_URL_OVERRIDE
  #               value: "https://www.comet.com/opik/api"
  #             - name: OPIK_API_KEY
  #               value: "Y5T3WoqNxJ22ypw1M8qivydis"
  #             - name: OPIK_WORKSPACE
  #               value: "greatify-prod"
  #             - name: OPIK_PROJECT_NAME
  #               value: "Stg"
  #   target:
  #     kind: Deployment
  #     name: celery-exam-submission-worker

  # Celery Flower patches
  # - patch: |-
  #     apiVersion: apps/v1
  #     kind: Deployment
  #     metadata:
  #       name: celery-flower
  #     spec:
  #       replicas: 1
  #       template:
  #         spec:
  #           serviceAccountName: examxv2-stg-secret-service
  #           containers:
  #           - name: flower
  #             image: "399600302704.dkr.ecr.ap-south-1.amazonaws.com/examxv2-backend:stg-EXM-3111-announcement-modules-imple-052a9684e383b900d09ba2aeceecbc93b1591d22"
  #             resources:
  #               requests:
  #                 cpu: "200m"
  #                 memory: "512Mi"
  #               limits:
  #                 cpu: "400m"
  #                 memory: "1Gi"
  #   target:
  #     kind: Deployment
  #     name: celery-flower

  # Ingress patches
  - patch: |-
      apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: examxv2-ingress
        annotations:
          alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:ap-south-1:399600302704:certificate/3ac85857-f810-414f-903b-1ab46d8e1520
          alb.ingress.kubernetes.io/auth-tls-verify-client: "optional"
          alb.ingress.kubernetes.io/cors-allow-origin: >-
            https://examx.co,https://www.examx.co,https://*.examx.co
          alb.ingress.kubernetes.io/load-balancer-attributes: |
            idle_timeout.timeout_seconds=600,
            deletion_protection.enabled=true,
            routing.http2.enabled=true,
            routing.http.drop_invalid_header_fields.enabled=true
      spec:
        tls:
          - hosts:
              - examx.co
            secretName: tls-secret
    target:
      kind: Ingress
      name: examxv2-ingress

  # Secrets patches
  - patch: |-
      apiVersion: secrets-store.csi.x-k8s.io/v1
      kind: SecretProviderClass
      metadata:
        name: examxv2-backend-secrets
      spec:
        parameters:
          objects: |
            - objectName: arn:aws:secretsmanager:ap-south-1:399600302704:secret:examxv2-stage-secrets-DKS1E3
              objectAlias: ".env"
              objectType: "secretsmanager"
    target:
      kind: SecretProviderClass
      name: examxv2-backend-secrets

  - patch: |-
      apiVersion: secrets-store.csi.x-k8s.io/v1
      kind: SecretProviderClass
      metadata:
        name: examxv2-google-credentials
      spec:
        parameters:
          objects: |
            - objectName: arn:aws:secretsmanager:ap-south-1:399600302704:secret:examxv2-backend-googlecredentials-stg-w86vvd
              objectAlias: "google-credentials.json"
              objectType: "secretsmanager"
    target:
      kind: SecretProviderClass
      name: examxv2-google-credentials
      
  # Backend Autoscaler patches
  - patch: |-
      apiVersion: autoscaling/v2
      kind: HorizontalPodAutoscaler
      metadata:
        name: examxv2-backend-pod-autoscaler
      spec:
        minReplicas: 1
        maxReplicas: 2
    target:
      kind: HorizontalPodAutoscaler
      name: examxv2-backend-pod-autoscaler

  # Celery Bulk Export Worker Autoscaler patches
  - patch: |-
      apiVersion: autoscaling/v2
      kind: HorizontalPodAutoscaler
      metadata:
        name: celery-bulk-export-worker-autoscaler
      spec:
        minReplicas: 1
        maxReplicas: 6
        scaleTargetRef:
          apiVersion: apps/v1
          kind: Deployment
          name: celery-bulk-export-worker
    target:
      kind: HorizontalPodAutoscaler
      name: celery-bulk-export-worker-autoscaler
