apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Common resources shared between environments
resources:
  # Core deployments
  - deployment/backend-deployment.yaml
  - deployment/celery-worker-default-deployment.yaml
  # - deployment/celery-beat-deployment.yaml
  - deployment/celery-bulk-upload-worker-deployment.yaml
  - deployment/celery-bulk-export-worker-deployment.yaml
  - deployment/celery-enrichment-worker-deployment.yaml
  - deployment/celery-exam-submission-worker-deployment.yaml
  - deployment/celery-question-generator-ai-worker-deployment.yaml
  # - deployment/celery-flower-deployment.yaml
  # - deployment/redis-deployment.yaml
  
  # Services
  - services/examxv2-backend-service.yaml
  - services/celery-flower-service.yaml
  # - services/redis-service.yaml
  
  #Network
  - ingress/ingress.yaml
  
  # Configurations
  - configmap/nginx-config.yaml
  - secrets/examxv2-secrets.yaml
  - secrets/examxv2-google-credentials.yaml
  
  # Autoscaling
  - autoscaling/backend-autoscaler.yaml
  - autoscaling/celery-worker-default-autoscaler.yaml
  # - autoscaling/celery-beat-autoscaler.yaml
  - autoscaling/celery-bulk-upload-worker-autoscaler.yaml
  - autoscaling/celery-bulk-export-worker-autoscaler.yaml
  - autoscaling/celery-enrichment-worker-autoscaler.yaml
  - autoscaling/celery-exam-submission-worker-autoscaler.yaml
  - autoscaling/celery-question-generator-ai-worker-autoscaler.yaml
  - autoscaling/celery-flower-autoscaler.yaml
  # - autoscaling/redis-autoscaler.yaml
  
  # Pod Disruption Budgets
  - pdb/backend-pdb.yaml
  - pdb/celery-worker-default-pdb.yaml
  - pdb/celery-bulk-upload-worker-pdb.yaml
  - pdb/celery-enrichment-worker-pdb.yaml
  - pdb/celery-question-generator-ai-worker-pdb.yaml
 
