apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: celery-enrichment-worker-scaler
  labels:
    app: celery-enrichment-worker
spec:
  scaleTargetRef:
    name: celery-enrichment-worker
  pollingInterval: 15  
  cooldownPeriod: 60  
  minReplicaCount: 0
  maxReplicaCount: 5
  triggers:
    - type: prometheus
      metadata:
        serverAddress: "http://prometheus-prometheus.monitoring.svc.cluster.local:9090"
        metricName: "celery_enrichment_queue_backlog"
        threshold: "1"
        query: |
          sum(examx_celery_queue_pending{queue="question_enrichment"} + examx_celery_queue_active{queue="question_enrichment"})
    # - type: cpu
    #   metadata:
    #     type: Utilization
    #     value: "50"
    # - type: memory
    #   metadata:
    #     type: Utilization
    #     value: "70"
