apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: celery-question-generator-ai-worker-scaler
  labels:
    app: celery-question-generator-ai-worker
spec:
  scaleTargetRef:
    name: celery-question-generator-ai-worker
  pollingInterval: 10
  cooldownPeriod: 60
  minReplicaCount: 0
  maxReplicaCount: 5
  triggers:
    - type: prometheus
      metadata:
        serverAddress: "http://prometheus-prometheus.monitoring.svc.cluster.local:9090"
        metricName: "celery_question_generator_ai_backlog"
        threshold: "1"
        query: |
          sum(examx_celery_queue_pending{queue="question_generator_ai"} + examx_celery_queue_active{queue="question_generator_ai"})
    # - type: cpu
    #   metadata:
    #     type: Utilization
    #     value: "50"
    # - type: memory
    #   metadata:
    #     type: Utilization
    #     value: "70"
