apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: uat-examxv2

resources:
  - ../../base
  - storage/pv.yaml
  - storage/pvc.yaml
  - backend-ingress.yaml
  # - grafana-cloud-auth.yaml
  # - ingress-class-params.yaml

labels:
  - pairs:
      environment: uat
      tier: uat
    includeSelectors: false

patches:
  # Backend Deployment patches
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: examxv2-backend
      spec:
        replicas: 1
        template:
          spec:
            serviceAccountName: examxv2-stg-secret-service
            containers:
            - name: examxv2-backend
              image: "399600302704.dkr.ecr.ap-south-1.amazonaws.com/examxv2-backend:uat-EXM-3358-Remove-cut-off-timezone-in-a7cae0611bbd01fc1d2863b0a4ef6bb1f96639cd"
              resources:
                requests:
                  cpu: "4"
                  memory: "16Gi"
                limits:
                  cpu: "4"
                  memory: "16Gi"
              env:
              - name: WORKERS
                value: "4"
              
              # OpenTelemetry configuration for UAT environment
              # Uses Grafana Cloud Alloy receiver (deployed in grafana-cloud namespace)
              - name: ENABLE_OTEL
                value: "true"
              
              - name: OTEL_EXPORTER_OTLP_PROTOCOL
                value: "grpc"
              
              - name: OTEL_EXPORTER_OTLP_ENDPOINT
                value: "http://grafana-k8s-monitoring-alloy-receiver.grafana-cloud.svc.cluster.local:4317"
              
              - name: OTEL_RESOURCE_ATTRIBUTES
                value: "service.version=1.0.0,deployment.environment=uat,k8s.cluster.name=greatify-prod-cluster"
              
              # Batch processing configuration to reduce export overhead
              - name: OTEL_BSP_SCHEDULE_DELAY
                value: "5000"
              
              - name: OTEL_BSP_MAX_EXPORT_BATCH_SIZE
                value: "512"
              
              - name: OTEL_BSP_MAX_QUEUE_SIZE
                value: "2048"
              
              - name: OTEL_BSP_EXPORT_TIMEOUT
                value: "30000"
              
              # Pyroscope configuration - disabled
              - name: ENABLE_PYROSCOPE
                value: "false"
              
              - name: OPIK_URL_OVERRIDE
                value: "https://www.comet.com/opik/api"
              - name: OPIK_API_KEY
                value: "Y5T3WoqNxJ22ypw1M8qivydis"
              - name: OPIK_WORKSPACE
                value: "greatify-prod"
              - name: OPIK_PROJECT_NAME
                value: "Prod"
              - name: REDIS_URL
                value: "rediss://master.examxv2-uat.kti2un.aps1.cache.amazonaws.com:6379"
    target:
      kind: Deployment
      name: examxv2-backend

  # Celery Worker patches
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: celery-worker-default
      spec:
        replicas: 1
        template:
          spec:
            serviceAccountName: examxv2-stg-secret-service
            containers:
            - name: celery-worker-default
              image: "399600302704.dkr.ecr.ap-south-1.amazonaws.com/examxv2-backend:uat-EXM-3358-Remove-cut-off-timezone-in-a7cae0611bbd01fc1d2863b0a4ef6bb1f96639cd"
              resources:
                requests:
                  cpu: "2"
                  memory: "4Gi"
                limits:
                  cpu: "3"
                  memory: "8Gi"
              command:
              - celery
              - -A
              - examx
              - worker
              - -P
              - gevent
              - -c
              - "200"
              - -Q
              - default
              - -l
              - info
              - -E
              env:
              - name: OPIK_URL_OVERRIDE
                value: "https://www.comet.com/opik/api"
              - name: OPIK_API_KEY
                value: "Y5T3WoqNxJ22ypw1M8qivydis"
              - name: OPIK_WORKSPACE
                value: "greatify-prod"
              - name: OPIK_PROJECT_NAME
                value: "Prod"
              - name: REDIS_URL
                value: "rediss://master.examxv2-uat.kti2un.aps1.cache.amazonaws.com:6379"
    target:
      kind: Deployment
      name: celery-worker-default


  # Celery Bulk Upload Worker patches
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: celery-bulk-upload-worker
      spec:
        replicas: 1
        template:
          spec:
            serviceAccountName: examxv2-stg-secret-service
            containers:
            - name: celery-bulk-upload-worker
              image: "399600302704.dkr.ecr.ap-south-1.amazonaws.com/examxv2-backend:uat-EXM-3358-Remove-cut-off-timezone-in-a7cae0611bbd01fc1d2863b0a4ef6bb1f96639cd"
              resources:
                requests:
                  cpu: "2"
                  memory: "4Gi"
                limits:
                  cpu: "3"
                  memory: "6Gi"
              command:
              - celery
              - -A
              - examx
              - worker
              - -P
              - prefork
              - -c
              - "4"
              - -Q
              - bulk_upload
              - -l
              - info
              - -E
              env:
              - name: OPIK_URL_OVERRIDE
                value: "https://www.comet.com/opik/api"
              - name: OPIK_API_KEY
                value: "Y5T3WoqNxJ22ypw1M8qivydis"
              - name: OPIK_WORKSPACE
                value: "greatify-prod"
              - name: OPIK_PROJECT_NAME
                value: "Prod"
              - name: REDIS_URL
                value: "rediss://master.examxv2-uat.kti2un.aps1.cache.amazonaws.com:6379"
    target:
      kind: Deployment
      name: celery-bulk-upload-worker

  # Celery Enrichment Worker patches
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: celery-enrichment-worker
      spec:
        replicas: 1
        template:
          spec:
            serviceAccountName: examxv2-stg-secret-service
            containers:
            - name: celery-enrichment-worker
              image: "399600302704.dkr.ecr.ap-south-1.amazonaws.com/examxv2-backend:uat-EXM-3358-Remove-cut-off-timezone-in-a7cae0611bbd01fc1d2863b0a4ef6bb1f96639cd"
              resources:
                requests:
                  cpu: "2"
                  memory: "4Gi"
                limits:
                  cpu: "3"
                  memory: "8Gi"            
              command:
              - celery
              - -A
              - examx
              - worker
              - -P
              - gevent
              - -c
              - "200"
              - -Q
              - question_enrichment
              - -l
              - info
              - -E
              env:
              - name: OPIK_URL_OVERRIDE
                value: "https://www.comet.com/opik/api"
              - name: OPIK_API_KEY
                value: "Y5T3WoqNxJ22ypw1M8qivydis"
              - name: OPIK_WORKSPACE
                value: "greatify-prod"
              - name: OPIK_PROJECT_NAME
                value: "Prod"
              - name: REDIS_URL
                value: "rediss://master.examxv2-uat.kti2un.aps1.cache.amazonaws.com:6379"
    target:
      kind: Deployment
      name: celery-enrichment-worker

  # Celery Question Generator AI Worker patches
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: celery-question-generator-ai-worker
      spec:
        replicas: 1
        template:
          spec:
            serviceAccountName: examxv2-stg-secret-service
            containers:
            - name: celery-question-generator-ai-worker
              image: "399600302704.dkr.ecr.ap-south-1.amazonaws.com/examxv2-backend:uat-EXM-3358-Remove-cut-off-timezone-in-a7cae0611bbd01fc1d2863b0a4ef6bb1f96639cd"
              resources:
                requests:
                  cpu: "2"
                  memory: "4Gi"
                limits:
                  cpu: "3"
                  memory: "6Gi"
              command:
              - celery
              - -A
              - examx
              - worker
              - -P
              - gevent
              - -c
              - "200"
              - -Q
              - question_generator_ai
              - -l
              - info
              - -E
              env:
              - name: OPIK_URL_OVERRIDE
                value: "https://www.comet.com/opik/api"
              - name: OPIK_API_KEY
                value: "Y5T3WoqNxJ22ypw1M8qivydis"
              - name: OPIK_WORKSPACE
                value: "greatify-prod"
              - name: OPIK_PROJECT_NAME
                value: "Prod"
              - name: REDIS_URL
                value: "rediss://master.examxv2-uat.kti2un.aps1.cache.amazonaws.com:6379"
    target:
      kind: Deployment
      name: celery-question-generator-ai-worker

  # # Celery Flower patches
  # - patch: |-
  #     apiVersion: apps/v1
  #     kind: Deployment
  #     metadata:
  #       name: celery-flower
  #     spec:
  #       replicas: 1
  #       template:
  #         spec:
  #           serviceAccountName: examxv2-stg-secret-service
  #           containers:
  #           - name: flower
  #             image: "399600302704.dkr.ecr.ap-south-1.amazonaws.com/examxv2-backend:uat-EXM-3358-Remove-cut-off-timezone-in-a7cae0611bbd01fc1d2863b0a4ef6bb1f96639cd"
  #             resources:
  #               requests:
  #                 cpu: "250m"
  #                 memory: "2Gi"
  #               limits:
  #                 cpu: "500m"
  #                 memory: "4Gi"
  #   target:
  #     kind: Deployment
  #     name: celery-flower

  # Secrets patches
  - patch: |-
      apiVersion: secrets-store.csi.x-k8s.io/v1
      kind: SecretProviderClass
      metadata:
        name: examxv2-backend-secrets
      spec:
        parameters:
          objects: |
            - objectName: arn:aws:secretsmanager:ap-south-1:399600302704:secret:examxv2-backend-uat-9G4vRf
              objectAlias: ".env"
              objectType: "secretsmanager"
    target:
      kind: SecretProviderClass
      name: examxv2-backend-secrets

  - patch: |-
      apiVersion: secrets-store.csi.x-k8s.io/v1
      kind: SecretProviderClass
      metadata:
        name: examxv2-google-credentials
      spec:
        parameters:
          objects: |
            - objectName: arn:aws:secretsmanager:ap-south-1:399600302704:secret:examxv2-backend-googlecredentials-dev-zQode4
              objectAlias: "google-credentials.json"
              objectType: "secretsmanager"
    target:
      kind: SecretProviderClass
      name: examxv2-google-credentials

  # Autoscaling patches for UAT environment
  # Backend Autoscaler patches (keep this - KEDA doesn't manage backend)
  - patch: |-
      apiVersion: autoscaling/v2
      kind: HorizontalPodAutoscaler
      metadata:
        name: examxv2-backend-pod-autoscaler
      spec:
        minReplicas: 1
        maxReplicas: 10
    target:
      kind: HorizontalPodAutoscaler
      name: examxv2-backend-pod-autoscaler

  # Celery Worker Autoscaler patches - COMMENTED OUT (using KEDA instead)
  # - patch: |-
  #     apiVersion: autoscaling/v2
  #     kind: HorizontalPodAutoscaler
  #     metadata:
  #       name: celery-worker-default-autoscaler
  #     spec:
  #       minReplicas: 1
  #       maxReplicas: 10
  #       scaleTargetRef:
  #         apiVersion: apps/v1
  #         kind: Deployment
  #         name: celery-worker-default
  #   target:
  #     kind: HorizontalPodAutoscaler
  #     name: celery-worker-default-autoscaler

  # Celery Bulk Upload Worker Autoscaler patches - COMMENTED OUT (using KEDA instead)
  # - patch: |-
  #     apiVersion: autoscaling/v2
  #     kind: HorizontalPodAutoscaler
  #     metadata:
  #       name: celery-bulk-upload-worker-autoscaler
  #     spec:
  #       maxReplicas: 10
  #       scaleTargetRef:
  #         apiVersion: apps/v1
  #         kind: Deployment
  #         name: celery-bulk-upload-worker
  #   target:
  #     kind: HorizontalPodAutoscaler
  #     name: celery-bulk-upload-worker-autoscaler

  # Celery Enrichment Worker Autoscaler patches - COMMENTED OUT (using KEDA instead)
  # - patch: |-
  #     apiVersion: autoscaling/v2
  #     kind: HorizontalPodAutoscaler
  #     metadata:
  #       name: celery-enrichment-worker-autoscaler
  #     spec:
  #       maxReplicas: 10
  #       scaleTargetRef:
  #         apiVersion: apps/v1
  #         kind: Deployment
  #         name: celery-enrichment-worker
  #   target:
  #     kind: HorizontalPodAutoscaler
  #     name: celery-enrichment-worker-autoscaler

  # Celery Question Generator AI Worker Autoscaler patches - COMMENTED OUT (using KEDA instead)
  # - patch: |-
  #     apiVersion: autoscaling/v2
  #     kind: HorizontalPodAutoscaler
  #     metadata:
  #       name: celery-question-generator-ai-worker-autoscaler
  #     spec:
  #       maxReplicas: 10
  #       scaleTargetRef:
  #         apiVersion: apps/v1
  #         kind: Deployment
  #         name: celery-question-generator-ai-worker
  #   target:
  #     kind: HorizontalPodAutoscaler
  #     name: celery-question-generator-ai-worker-autoscaler

  # # Celery Flower Autoscaler patches (following production pattern)
  # - patch: |-
  #     apiVersion: autoscaling/v2
  #     kind: HorizontalPodAutoscaler
  #     metadata:
  #       name: celery-flower-autoscaler
  #     spec:
  #       minReplicas: 1
  #       maxReplicas: 2
  #   target:
  #     kind: HorizontalPodAutoscaler
  #     name: celery-flower-autoscaler

  # KEDA ScaledObject patches for UAT environment
  - patch: |-
      apiVersion: keda.sh/v1alpha1
      kind: ScaledObject
      metadata:
        name: celery-worker-default-scaler
      spec:
        minReplicaCount: 1
        maxReplicaCount: 20
        cooldownPeriod: 120
        pollingInterval: 15
        triggers:
        - type: prometheus
          authenticationRef:
            name: grafana-cloud-prometheus-auth
          metadata:
            serverAddress: "https://prometheus-prod-43-prod-ap-south-1.grafana.net/api/prom"
            metricName: "celery_default_queue_backlog"
            threshold: "1"
            query: |
              sum(examx_celery_queue_pending{queue="default",namespace="uat-examxv2"} + examx_celery_queue_active{queue="default",namespace="uat-examxv2"})
            authModes: "basic"
    target:
      kind: ScaledObject
      name: celery-worker-default-scaler

  - patch: |-
      apiVersion: keda.sh/v1alpha1
      kind: ScaledObject
      metadata:
        name: celery-bulk-upload-worker-scaler
      spec:
        minReplicaCount: 1
        maxReplicaCount: 20
        cooldownPeriod: 120
        pollingInterval: 15
        triggers:
        - type: prometheus
          authenticationRef:
            name: grafana-cloud-prometheus-auth
          metadata:
            serverAddress: "https://prometheus-prod-43-prod-ap-south-1.grafana.net/api/prom"
            metricName: "celery_bulk_upload_queue_backlog"
            threshold: "1"
            query: |
              sum(examx_celery_queue_pending{queue="bulk_upload",namespace="uat-examxv2"} + examx_celery_queue_active{queue="bulk_upload",namespace="uat-examxv2"})
            authModes: "basic"
    target:
      kind: ScaledObject
      name: celery-bulk-upload-worker-scaler

  - patch: |-
      apiVersion: keda.sh/v1alpha1
      kind: ScaledObject
      metadata:
        name: celery-enrichment-worker-scaler
      spec:
        minReplicaCount: 1
        maxReplicaCount: 10
        cooldownPeriod: 120
        pollingInterval: 15
        triggers:
        - type: prometheus
          authenticationRef:
            name: grafana-cloud-prometheus-auth
          metadata:
            serverAddress: "https://prometheus-prod-43-prod-ap-south-1.grafana.net/api/prom"
            metricName: "celery_enrichment_queue_backlog"
            threshold: "1"
            query: |
              sum(examx_celery_queue_pending{queue="question_enrichment",namespace="uat-examxv2"} + examx_celery_queue_active{queue="question_enrichment",namespace="uat-examxv2"})
            authModes: "basic"
    target:
      kind: ScaledObject
      name: celery-enrichment-worker-scaler

  - patch: |-
      apiVersion: keda.sh/v1alpha1
      kind: ScaledObject
      metadata:
        name: celery-exam-submission-worker-scaler
      spec:
        minReplicaCount: 1
        maxReplicaCount: 20
        cooldownPeriod: 120
        pollingInterval: 10
        triggers:
        - type: prometheus
          authenticationRef:
            name: grafana-cloud-prometheus-auth
          metadata:
            serverAddress: "https://prometheus-prod-43-prod-ap-south-1.grafana.net/api/prom"
            metricName: "celery_exam_submission_queue_backlog"
            threshold: "1"
            query: |
              sum(examx_celery_queue_pending{queue="exam_submissions",namespace="uat-examxv2"} + examx_celery_queue_active{queue="exam_submissions",namespace="uat-examxv2"})
            authModes: "basic"
    target:
      kind: ScaledObject
      name: celery-exam-submission-worker-scaler

  - patch: |-
      apiVersion: keda.sh/v1alpha1
      kind: ScaledObject
      metadata:
        name: celery-question-generator-ai-worker-scaler
      spec:
        minReplicaCount: 1
        maxReplicaCount: 20
        cooldownPeriod: 120
        pollingInterval: 15
        triggers:
        - type: prometheus
          authenticationRef:
            name: grafana-cloud-prometheus-auth
          metadata:
            serverAddress: "https://prometheus-prod-43-prod-ap-south-1.grafana.net/api/prom"
            metricName: "celery_question_generator_ai_backlog"
            threshold: "1"
            query: |
              sum(examx_celery_queue_pending{queue="question_generator_ai",namespace="uat-examxv2"} + examx_celery_queue_active{queue="question_generator_ai",namespace="uat-examxv2"})
            authModes: "basic"
    target:
      kind: ScaledObject
      name: celery-question-generator-ai-worker-scaler